---
title: mylayout.njk
---
<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        {{ content | safe }}
    </body>
</html>
